**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.next
**/.cache
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/charts
**/docker-compose*
**/compose.y*ml
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/build
**/dist





# (temp)
**/__test__
/__test__
__test__

node_modules
dist
.next
*.log
.git

# Allow local env vars (temp - local test)
# ! .env.local
.env.local
.env.development
*.md

venv
venv/
venv/*
**/venv
**/venv/
.venv/
.venv/*
**/.venv
**/.venv/
**/venv/
**/venv
**/venv/*

__pycache__/
*.py[cod]

__pycache__/
*.py[cod]
.venv/
venv/
*.sqlite3
*.db
*.parquet
tests/
.git/
*.log
*.ipynb
vectordb/


LICENSE
README.md

# vectordb files
vectordb
vectordb/
/vectordb/
**/vectordb

nzeroesg-api/chroma/
nzeroesg-api/chroma/**/*.bin